language: node_js
node_js:
  - 'stable'
env:
  global:
    #    - GITHUB_REPO: 'mParticle/mparticle-media-samples'
    - GITHUB_REPO: 'alexs-mparticle/test-repo-magic'
    - GITHUB_TOKEN: $GITHUB_TOKEN

jobs:
  include:
    - stage: 'Web Demo'
      name: 'Web Demo'
      script:
        - 'cd ./web/players/jwplayer_media_sdk/'
        - 'npm install'
        - 'npm run deploy'

deploy:
  github_token: $GITHUB_TOKEN
